
@font-face {
    font-family: "Nunito-R";
    src: url("./src/NunitoSans_7pt-Regular.ttf");
}

@font-face {
    font-family: "Nunito-MI";
    src: url("./src/NunitoSans_7pt-MediumItalic.ttf");
}

@font-face {
    font-family: "Nunito-10R";
    src: url("./src/NunitoSans_10pt-Regular.ttf");
}

@font-face {
    font-family: "Space-R";
    src: url("./src/SpaceMono-Regular.ttf");
}

html, body {
    cursor: none;
    margin: 0px; 
    padding: 0px;
    background-color: #101010;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
}
#custom-cursor, #secondary-cursor{
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    position: fixed;
    background-color: white;
    border-radius: 50%;
    background-size: contain;
    pointer-events: none;
    z-index: 100000; /* Ensure it appears above other elements */
    transform: translate(-50%, -50%);
    transition: width 0.2s ease-out, height 0.2s ease-out, background 0.2s ease-out, border 0.2s ease-out, transform 0.1s ease-out;
}

#secondary-cursor {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid white;
}

#custom-cursor.hover {
    width: 64px; /* Adjust size as needed */
    height: 64px; /* Adjust size as needed */
    background: transparent;
    border: 2px solid white;
}
#secondary-cursor.hover{
    width: 30px;
    height: 30px;
    background-color: white;
    opacity: 0.4;
}

.header{
    z-index: 100000;
    position: fixed;
    top: 6vh;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 30vw;
    height: 6vh;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    border-radius: 27px;
    border: 1px solid rgba(242, 242, 242, .1);
    background-color: rgba(242, 242, 242, .05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.nav:hover a{
    opacity: 0.7;
    transform: scale(0.92);
}

.nav:hover a:hover{
    transform: scale(1);
    opacity: 1;
    text-shadow: 0 0 20px white;
}

a{
    text-decoration: none;
    color: white;
    cursor: none;
    background-color: transparent;
    transition: all .5s ease;
}

.nav-item{
    width: 8vw;
    height: 100%;
    display: flex;    
    border-radius: 54px;
    justify-content: center;
    align-items: center;
    font-family: monospace, monospace;
    font-size: 1.3em;
    -webkit-user-select: none;
    user-select: none;
    letter-spacing: .1em;
    background-color: transparent;
}

#time{
    width: 8vw;
    height: 4vh;
    left: 5vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: monospace,monospace;
    border-radius: 20px;
    font-size: 1em;
    border: 1px solid rgba(242, 242, 242, .1);
    background-color: rgba(242, 242, 242, .05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -webkit-user-select: none;
    user-select: none;
}

#user{
    width: 8vw;
    height: 4vh;
    position: fixed; bottom: 1vh; left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 20px;
    border: 1px solid rgba(242, 242, 242, .1);
    background-color: rgba(242, 242, 242, .05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    text-align: center;
    font-size: 1em;
    font-family: monospace,monospace;
}

.stack{
    width: 100vw;
    height: 100vh;
}

.myself{
    width: 20vw;
    height: 10vh;
    position: absolute;
    left: 20%; top: 40%;
    transition: all .3s ease;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    overflow: hidden;    
}

.me1, .me2{
    width: 100%;
    height: 100%;
    font-size: 6em;
    font-family: 'Nunito-R',sans-serif;
    position: relative; top: -100%;
    font-weight: 100;
    color: #ffffff;
    letter-spacing: -0.07em;
    line-height: 0;
    transition: all .4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.me2 {
    opacity: 0;
    transform: translateY(100%);
}

.myself:hover .me1 {
    opacity: 0;
    transform: translateY(-100%);
}

.myself:hover .me2 {
    opacity: 1;
    transform: translateY(0);
}
