
@font-face {
    font-family: "Nunito-R";
    src: url("./src/NunitoSans_7pt-Regular.ttf");
}

@font-face {
    font-family: "Nunito-MI";
    src: url("./src/NunitoSans_7pt-MediumItalic.ttf");
}

@font-face {
    font-family: "Nunito-10R";
    src: url("./src/NunitoSans_10pt-Regular.ttf");
}

@font-face {
    font-family: "Space-R";
    src: url("./src/SpaceMono-Regular.ttf");
}

html, body {
    cursor: none;
    margin: 0px; 
    padding: 0px;
    background-color: black;
}

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
}
#custom-cursor, #secondary-cursor{
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    position: fixed;
    background-color: white;
    border-radius: 50%;
    background-size: contain;
    pointer-events: none;
    z-index: 100000; /* Ensure it appears above other elements */
    transform: translate(-50%, -50%);
    transition: width 0.2s ease-out, height 0.2s ease-out, background 0.2s ease-out, border 0.2s ease-out, transform 0.1s ease-out;
}

#secondary-cursor {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid white;
}

#custom-cursor.hover {
    width: 64px; /* Adjust size as needed */
    height: 64px; /* Adjust size as needed */
    background: transparent;
    border: 2px solid white;
}
#secondary-cursor.hover{
    width: 30px;
    height: 30px;
    background-color: white;
    opacity: 0.4;
}

.nav{
    width: 50vw;
    height: 6vh;
    position: fixed;
    display: flex;
    margin-top: 2vh;
    left: 25%;
    justify-content: space-evenly;
    z-index: 1000;
    border: 2px solid white;
    background-color: #000000e7;
}

.nav:hover a{
    opacity: 0.6;
    transform: scale(0.8);
}

.nav:hover a:hover{
    transform: scale(1);
    opacity: 1}

a{
    text-decoration: none;
    color: white;
    cursor: none;
    background-color: transparent;
    transition: all .5s ease;
}

.nav-item{
    width: 8vw;
    height: 6vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace, monospace;
    font-size: 1.3em;
    -webkit-user-select: none;
    user-select: none;
    letter-spacing: .1em;
    background-color: transparent;
    transition: all .5s ease;
}

#time{
    z-index: 1000;
    width: 6vw;
    height: 3vh;
    left: 1vw;
    position: fixed;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: monospace,monospace;
    border-radius: 20px;
    font-size: 0.95em;
    background-color: #000000e7;
    border: 1px solid rgba(255, 255, 255);
    -webkit-user-select: none;
    user-select: none;
}

.stack{
    width: 100%;
    height: 100vh;
}

#greet{
    position: absolute;
    font-family: 'Courier New';
    font-size: 6em;
    font-weight: 100;
    color: #ffffff;
    top: 40%;
    left: 5%;
    letter-spacing: -0.07em;
    -webkit-user-select: none;
    user-select: none;
    z-index: 200;
}
