

*{
    margin: 0;
    padding:0;
}



.intro{
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    background-color: transparent;
    font-weight: 700;
    font-size: 150%;
    color: white;
    position: relative; margin-top: 40%; margin-left: auto; margin-right: auto;

}



.name{
    width: 100%;
    height: 10%;
    background-color: transparent;
    position: relative; margin: auto;
    text-align: center;
}

.ashish{
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 850;
    font-size: 350%;
    color: white;
    letter-spacing: .15em;

}


.desc{
    width: 92%;
    height: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: transparent;
    font-size: 115%;
    color: white;
    position: relative; margin: auto;
    text-align: center;
    padding-top: 20px;
    word-spacing: .12em;
    letter-spacing: .15em;
    opacity: 60%;
    line-height: 150%;
}



.abt{
    width: 100%;
    height: 4%;
    background-color: transparent;
    position: relative; margin: auto;
    text-align: center;
    padding-top: 200px;

    transition: all 0.5s ease;

}

.about{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    font-weight: 100;
    color: #397dd7;
    letter-spacing: .15em;  
    transition: all 0.5s ease;
    line-height: 175%;
    position: relative; margin: auto;
}

.abtli{
    width: 30%;
    border-bottom: 1.5px solid #397dd7;
    transition: all 0.5s ease;
    position: relative; margin: auto;
}




.skillset{
    width: 100% ;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    font-size: 150%;
    font-weight: 800;
    color: white;
    position: relative; margin: auto;
    text-align: center;
    padding-top: 50px;
    letter-spacing: .2em;
    word-spacing: .01em;
    line-height: 150%;
}


.skill_desc{
    width: 100%;
    height: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 115%;
    font-weight: 100;
    background-color: transparent;
    color: white;
    position: relative; 
    padding-top: 50px;
    text-align: center; margin: auto;
    letter-spacing: .15em;
    line-height: 140%;
    opacity: 60%;
}



.rec{
    width: 100%;
    height: 4%;
    background-color: transparent;
    position: relative; 
    text-align: center;
    transition: all 0.5s ease;

}

.reach{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: 100;
    color: #397dd7;
    letter-spacing: .15em;  
    transition: all 0.5s ease;
    line-height: 200%;
}

.reli{
    width: 45%;
    border-bottom: 1.5px solid #397dd7;
    position: relative; margin: auto;
}


.instagram{
    width: 25px;
    height: 25px;
    position: relative; margin: auto;
}

.in{
    position: absolute; right: 150%; top: 680%; 
}

.linkedin{
    width: 25px;
    height: 25px;
    position: relative; margin: auto;
}

.link{
    position: absolute; right: 500%; top: 580%;
}

.gmail{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative; margin: auto;
}

.mail{
    position: absolute; top: 480%; left: 200%;
}

.discord{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative; margin: auto;
}

.dis{
    position: absolute; top: 380%; left: 550%; 
}


#quote{
    width: 90%;
    height:15%;
    background: rgba(59, 59, 59, 0.3);
    margin: auto;
    position: relative; margin-top: 40%;
    border-radius: 25px;
    text-align: center;
}

.qu{
    font-family: w3-cursive;
    font-size: 125%;
    font-style: italic;
    font-weight: 700;
    color: white;
    padding: 40px 0;
    opacity: 70%;
}




#footer{
    width: 90%;
    position: relative; left: 10%; top: 120%;
    background-color: transparent;
}

.botdes{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 60%;
    color: white;
    opacity: 60%;
    letter-spacing: 0.15em;
    padding-top: 5%;
    
}

.hand{
    opacity: 0;
    transition: all .2s ease;
}



.sign{
    width: 10%;
    height: 10%;
    background-color: transparent;    
    position: static; left: 0; bottom:0;
    transition: all 0.6s ease;
    opacity: 0;
}



#botfot{
    background-color: transparent ;
    position: relative; top: 125%;
}
