

*{
    margin: 0;
    padding:0;
}



.intro{
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    background-color: transparent;
    font-weight: 700;
    font-size: 150%;
    color: white;
    position: relative; margin-top: 40%; margin-left: auto; margin-right: auto;
    animation: introfade ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes introfade{
    0%{
        transform: scale(0.5) translateY(200%);
        opacity: 0;
    }
    100%{
        transform: scale(1) translateY(0);
        
        opacity: 1;
    }
}


.name{
    width: 100%;
    height: 10%;
    background-color: transparent;
    position: relative; margin: auto;
    text-align: center;
    animation: fadein ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadein{
    0%{
        transform: scale(0.5) translateY(100%);
        opacity: 0;
    }
    100%{
        transform: scale(1) translateY(0);
        
        opacity: 1;
    }
}

.ashish{
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 850;
    font-size: 350%;
    color: #397dd7;
    letter-spacing: .15em;

}


.desc{
    width: 92%;
    height: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: transparent;
    font-size: 115%;
    color: white;
    position: relative; margin: auto;
    text-align: center;
    padding-top: 20px;
    word-spacing: .12em;
    letter-spacing: .15em;
    opacity: 60%;
    line-height: 150%;
    animation: desfade ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes desfade{
    0%{
        transform: scale(0.5) translateY(80%);
        opacity: 0;
    }
    100%{
        transform: scale(1) translateY(0);
        
        opacity: 1;
    }
}


.abt{
    width: 100%;
    height: 4%;
    background-color: transparent;
    position: relative; margin: auto; margin-top: 80%;
    text-align: center;

    transition: all 0.5s ease;

}

.about{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    font-weight: 100;
    color: #397dd7;
    letter-spacing: .15em;  
    transition: all 0.5s ease;
    line-height: 175%;
    position: relative; margin: auto;
}

.abtli{
    width: 30%;
    border-bottom: 1.5px solid #397dd7;
    transition: all 0.5s ease;
    position: relative; margin: auto;
}




.skillset{
    width: 100% ;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    font-size: 150%;
    font-weight: 800;
    color: white;
    position: relative; margin: auto;
    text-align: center;
    padding-top: 50px;
    letter-spacing: .2em;
    word-spacing: .01em;
    line-height: 150%;
}


.skill_desc{
    width: 100%;
    height: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 115%;
    font-weight: 100;
    background-color: transparent;
    color: white;
    position: relative; 
    padding-top: 50px;
    text-align: center; margin: auto;
    letter-spacing: .15em;
    line-height: 140%;
    opacity: 60%;
}



.rec{
    width: 100%;
    height: 4%;
    background-color: transparent;
    position: relative; 
    text-align: center;
    transition: all 0.5s ease;

}

.reach{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: 100;
    color: #397dd7;
    letter-spacing: .15em;  
    transition: all 0.5s ease;
    line-height: 200%;
}

.reli{
    width: 45%;
    border-bottom: 1.5px solid #397dd7;
    position: relative; margin: auto;
}


.instagram{
    width: 25px;
    height: 25px;
    position: relative; margin: auto;
}

.in{
    position: absolute; right: 150%; top: 680%; 
}

.linkedin{
    width: 25px;
    height: 25px;
    position: relative; margin: auto;
}

.link{
    position: absolute; right: 500%; top: 580%;
}

.gmail{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative; margin: auto;
}

.mail{
    position: absolute; top: 480%; left: 200%;
}

.discord{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative; margin: auto;
}

.dis{
    position: absolute; top: 380%; left: 550%; 
}


#quote{
    width: 90%;
    height:15%;
    background: rgba(59, 59, 59, 0.3);
    margin: auto;
    position: relative; margin-top: 40%;
    border-radius: 25px;
    text-align: center;
}

.qu{
    font-family: w3-cursive;
    font-size: 125%;
    font-style: italic;
    font-weight: 700;
    color: white;
    padding: 40px 0;
    opacity: 70%;
}




#footer{
    width: 90%;
    position: relative; left: 10%; top: 150%; margin-bottom: 10%; margin-top: -35%;
    background-color: transparent;
}

.botdes{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 70%;
    color: white;
    opacity: 60%;
    letter-spacing: 0.15em;
    padding-top: 5%;
    
}

.botlogo{
    position: relative; margin-left: 50%;
}

.hand{
    opacity: 0;
    transition: all .2s ease;
}



.sign{
    width: 10%;
    height: 10%;
    background-color: transparent;    
    position: static; left: 0; bottom:0;
    transition: all 0.6s ease;
    opacity: 0;
}



#botfot{
    background-color: transparent ;
    position: relative; top: 125%;
    
}


@media only screen and (min-width:768px){
    .intro{
        width: 100%;
        font-size: 220%;
        color: white;
        position: relative; margin-top: 12%;
        text-align: center;

    
    }
    

    
    .name{
        width: 100%;
        height: 10%;
        background-color: transparent;
        position: relative; margin: auto;
        text-align: center;
        padding-top: 5%;
    }
    
    .ashish{
       
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 850;
        font-size: 400%;
        color: white;
        letter-spacing: .15em;
        
    
    }
    .desc{
        width: 75%;
        font-size: 120%;
        color: white;
        position: relative; margin: auto; 
        padding-top: 5%;
    }
    
    
    
    .abt{
        width: 100%;
        height: 4%;
        background-color: transparent;
        position: relative; margin: auto;margin-top: 40%;
        text-align: center;
           
        transition: all 0.5s ease;
    
    }
    
    .about{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 160%;
        font-weight: 100;
        color: #397dd7;
        letter-spacing: .15em;  
        transition: all 0.5s ease;
        line-height: 175%;
        position: relative; margin: auto;
    }
    
    .abtli{
        width: 18%;
        border-bottom: 1.5px solid #397dd7;
        transition: all 0.5s ease;
        position: relative; margin: auto;
    }
    
    
    
    
    .skillset{
        width: 60% ;
        font-size: 150%;
    }
    
    
    .skill_desc{
        width: 80%;
        height: 25%;
        
    }
    
    
    
    .rec{
        width: 100%;
        height: 1%;
        background-color: transparent;
        position: relative; 
        text-align: center;
        transition: all 0.5s ease;
        padding-bottom: 1%;
    
    }
    
    .reach{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 160%;
        font-weight: 100;
        color: #397dd7;
        letter-spacing: .15em;  
        transition: all 0.5s ease;
        line-height: 200%;
    
    }
    
    .reli{
        width: 23%;
        border-bottom: 1.5px solid #397dd7;
        position: relative; margin: auto;
        
    }
    
    
    .instagram{
        width: 25px;
        height: 25px;
        position: relative; margin: auto;
        background-color: transparent;
    }
    
    .in{
        position: absolute; right: 390%; top: 680%; 
    }
    
    .linkedin{
        width: 25px;
        height: 25px;
        position: relative; margin: auto;
        background-color: transparent;
    }
    
    .link{
        position: absolute; right: 1100%; top: 580%;
    }
    
    .gmail{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: relative; margin: auto;
    }
    
    .mail{
        position: absolute; top: 480%; left: 400%;
    }
    
    .discord{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: relative; margin: auto;
    }
    
    .dis{
        position: absolute; top: 380%; left: 1150%; 
    }
    
    
    #quote{
        width: 90%;
        height:15%;
        background: rgba(59, 59, 59, 0.3);
        margin: auto;
        position: relative; margin-top: 20%;
        border-radius: 25px;
        text-align: center;
    }
    
    .qu{
        font-family: w3-cursive;
        font-size: 175%;
        font-style: italic;
        font-weight: 700;
        color: white;
        padding: 40px 0;
        opacity: 70%;
    }
    
    
    
    
    #footer{
        width: 50%;
        height: 5%;
        position: relative; left: 10%; margin-bottom: 4%; margin-top: -20%;
        background-color: transparent;
        float: left;
    }
    
    .botdes{
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 120%;
        color: white;
        opacity: 60%;
        letter-spacing: 0.15em;
        padding-top: 5%;
        
    }
    
    .hand{
        opacity: 0;
        transition: all .2s ease;
    }
    
    
    
    .sign{
        width: 10%;
        height: 5%;
        background-color: transparent;    
        position: absolute; left: 0; top: 10%;
        transition: all 0.6s ease;
        opacity: 0;
        transform: scale(1.4);
    }
    
    
    
    .botfot{
        width: 100%;
        height: 1%;
        background-color: white ;
        position: absolute; top: 146%; margin-bottom: 10%;
        opacity: 0;
    }

    .botlogo{
        
        background-color: #397dd7;
        float: right;
    }

}
   

@media only screen and (min-width:1000px){
    .intro{
        width: 30%;
        font-size: 270%;
        color: white;
        position: relative; left: 6%; margin: 0;
        padding-top: 15%;
        animation: fadeintro ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeintro {
        0%{
            opacity: 0;
            transform:translateY(80%) scale(0.5) ;
            
        }
        100%{
            transform: scale(1) translateY(0);
            opacity: 1;
        }
        
    }



    .name{
        width: 30%;
        height: 6%;
        background-color: transparent; 
        position: relative; margin-left: 12%; 
        transition: all 0.3s ease;
        transition-delay: .1s;
        text-align: left;  
        animation: fadename ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transform: translateY(0);
    }

    @keyframes fadename {
        0%{
            opacity: 0;
            transform:translateX(-100%) translateY(0) scale(0.5) ;
            
        }
        100%{
            transform: scale(1) translateY(0) translateX(0);
            opacity: 1;
        }
        
    }

    
    .ashish{
       
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 850;
        font-size: 400%;
        color: white;
        letter-spacing: .15em;
        position: absolute; left: 0; top: 0;
        transition: all 0.4s ease;
    
    }

    .km{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 400% ;
        position: absolute; top: 0%; left: 16%;
        color: #397dd7;
        font-weight: 850;
        letter-spacing: .15em;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .name:hover{
        width: 70%;
        transform-origin: right center;
        transition-delay: 0s;
    }
    
    .name:hover .ashish{
        transform: translateX(-27%);
        
    }
    
    .name:hover .km{
        transition-delay: .2s;
        transform: translateX(13%) ;
        opacity: 1;
        
    }    

    .desc{
        background-color: transparent;
        width: 40%;
        height: 10%;
        font-size: 120%;
        color: white;
        position: relative; left: 12%; margin: 0; margin-top: -2%;
        text-align: left;
        line-height: 200%;
    }
    
    
    
    .abt{
        width: 20%;
        height: 1%;
        background-color: transparent;
        position: relative; left: 12%; margin: 0; margin-top: 25%;
        text-align: left;    
        padding-top: 0;
        transition: all 0.5s ease;
    
    }
    
    .about{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 160%;
        font-weight: 100;
        color: #397dd7;
        letter-spacing: .15em;  
        transition: all 0.5s ease;
        line-height: 175%;
        position: relative; 
    }
    
    .abtli{
        width: 55%;
        border-bottom: 1.5px solid #397dd7;
        transition: all 0.5s ease;
        position: relative; margin-left: 0;
    }
    
    .abt:hover .about{
        transform: translateX(20px);
    }
    
    .abt:hover .abtli{
        transform: scaleX(1.06);
        transform-origin: right center;
    }
    
    
    
    
    .skillset{
        width: 30% ;
        font-size: 150%;
        position: relative; margin: 0; margin-left: 12%;
        text-align: left;
    }
    
    
    .skill_desc{
        background-color: transparent;
        width: 50%;
        height: 25%;
        position: relative; left: 20%; margin-top: -22%;
        text-align: left;
        line-height: 200%; 
    }
    
    
    
    .rec{
        width: 20%;
        height: 1%;
        background-color: transparent;
        position: relative; left: 12%; margin: 0; margin-top: 20%;
        text-align: left;
        transition: all 0.5s ease;
        padding-bottom: 1%;
    
    }
    
    .reach{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 160%;
        font-weight: 100;
        color: #397dd7;
        letter-spacing: .15em;  
        transition: all 0.5s ease;
        line-height: 200%;
    
    }
    
    .reli{
        width: 80%;
        border-bottom: 1.5px solid #397dd7;
        position: relative; margin-left: 0;
        transition: all 0.5s ease;
        
    }
    
    .rec:hover .reach{
        transform: translateX(28px);
    }
    
    .rec:hover .reli{
        transform: scaleX(1.07);
        transform-origin: right center;
    }
    
  
    .in{
        position: relative; top: 580%; margin-top: 1000%;
        transition: all .5s ease;
    }

    .in:hover{
        color: #111;
        background: white;
        box-shadow: 0 0 50px white;
        transform: scale(1.3);
         
    }
    
   

    .link{
        position: absolute; left: 500%; margin-top: 890%;
        transition: all .5s ease;
    }
    
    .link:hover{
        color: #111;
        background: white;
        box-shadow: 0 0 50px white;
        transform: scale(1.3);

    }


    .mail{
        position: absolute; left: 1400%; margin-top: 890%;
        transition: all .5s ease;
    }
    
    .mail:hover{
        color: #111;
        background: white;
        box-shadow: 0 0 50px white;
        transform: scale(1.3);

    }

    .dis{
        position: absolute; left: 2300%; margin-top: 890%;
        transition: all .5s ease;
    }
    
    .dis:hover{
        color: #111;
        background: white;
        box-shadow: 0 0 50px white;
        transform: scale(1.3);

    }

    
    #quote{
        width: 55%;
        height:15%;
        background: rgba(59, 59, 59, 0.3);
        margin: auto;
        position: relative; margin-top: 15%;
        border-radius: 25px;
        text-align: center;
    }
    
    .qu{
        font-family: w3-cursive;
        font-size: 175%;
        font-style: italic;
        font-weight: 700;
        color: white;
        padding: 40px 0;
        opacity: 70%;
    }
    
    
    
    
    #footer{
        width: 30%;
        height: 3vh;
        position: relative; left: 10%; top: 100%; margin-top: 10%;
        background-color: transparent;
        justify-content: left;
        text-align: left;
        transition: all .3s ease;
    }
    
    .botdes{
        width: 70%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 120%;
        color: white;
        opacity: 60%;
        letter-spacing: 0.15em;
        position: absolute; margin: 0; bottom: 200%;
        padding-top: -29%;
        
    }
    
    .hand{
        opacity:0;
        transition: all .3s ease;
        position: relative; left: 0%; 
    }
    
    #footer:hover .hand{
        opacity: 1;
        transform: scale(1.2);
    }
    
    
    .sign{
        width: 10%;
        height: 5%;
        background-color: transparent;    
        position: fixed; left: 2%; bottom: 0;
        transition: all 0.6s ease;
        opacity: 1;
        animation: sign ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

    }

    @keyframes sign {
        0%{
            opacity: 0;
            transform: translateY(-100%) scale(2.5) ;
            
        }
        100%{
            transform: scale(1) translateY(0) ;
            opacity: 1;
        }
        
    }

    .sign:hover{
        transform: scale(1.5);
         
    }
    
    
    .botlogo{
        position: relative; right: 15%; margin-top: 3%;
        background-color: transparent;
        float: right;
    }

    
}

