*{
    margin: 0;
    padding:0;
}


.intro{
    width: 20%;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    background-color: transparent;
    font-weight: 700;
    font-size: 250%;
    color: white;
    position: relative; margin-top: 10%; left: 14%;
}



.name{
    width: 10%;
    height: 10%;
    background-color: transparent;
    text-align: center;
    position: relative; left: 14%;
    transition: all .5s;
    transition-delay: 0.3s;
}

.ashish{
    width: 21.5%;
    height: 10%;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 850;
    font-size: 450%;
    color: white;
    position: relative; left: 0;
    letter-spacing: .15em;
    transition: all .6s ease;

}

.km{
    width: 70%;
    height: 10%;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 850;
    font-size: 450%;
    color: #397dd7;
    position: relative; left: 14%; bottom: 10%;
    letter-spacing: .15em;
    transition: all .4s ease-in-out;
    opacity: 0;

}

.name:hover{
    width: 75%;
    transition-delay: 0s;
}

.name:hover .ashish{
    transform: translateX(-25%);
    transition-delay: .2s;
}

.name:hover .km{
    transform: translateX(13%) ;
    opacity: 1;
    transition-delay: .25s;
}



.desc{
    width: 40%;
    height: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    background-color: transparent;
    font-size: 115%;
    color: white;
    position: relative; left: 14%; top: 6%;
    word-spacing: .12em;
    letter-spacing: .15em;
    opacity: 60%;
    line-height: 200%;
}



.abt{
    width: 10%;
    height: 4%;
    background-color: transparent;
    position: relative; left: 14%; top: 46.5%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;

}

.about{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: 100;
    color: #397dd7;
    letter-spacing: .15em;  
    transition: all 0.5s ease;
    line-height: 200%;
}

.abtli{
    border-bottom: 1.5px solid #397dd7;
    transition: all 0.5s ease;
}

.abt:hover .about{
    transform: translateX(20px);
}

.abt:hover .abtli{
    transform: scaleX(1.05);
    transform-origin: right center;
}




.skillset{
    width: 36% ;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    font-size: 175%;
    font-weight: 800;
    color: white;
    position: relative; top: 53%; left: 14%;
    letter-spacing: .2em;
    word-spacing: .01em;
    line-height: 150%;
}


.skill_desc{
    width: 50%;
    height: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 115%;
    font-weight: 100;
    background-color: transparent;
    color: white;
    position: relative; top: 27%; left: 47%; 
    letter-spacing: .15em;
    line-height: 200%;
    opacity: 60%;
}



.rec{
    width: 15%;
    height: 4%;
    background-color: transparent;
    position: relative; top: 83%; left: 14%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;

}

.reach{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: 100;
    color: #397dd7;
    letter-spacing: .15em;  
    transition: all 0.5s ease;
    line-height: 200%;
}

.reli{
    width: 90%;
    border-bottom: 1.5px solid #397dd7;
    transition: all 0.5s ease;
}

.rec:hover .reach{
    transform: translateX(28px);
}

.rec:hover .reli{
    transform: scaleX(1.05);
    transform-origin: right center;
}



.instagram{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: all .5s ease;
    position: relative; left: 40%; top: 96%;
    
}

.instagram:hover{
    color: #111;
    background: white;
    box-shadow: 0 0 50px white;
    transform: scale(1.3);
     
}



.linkedin{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: all .5s ease;
    position: relative; left: 50%; top: 93%;
}

.linkedin:hover{
    color: #111;
    background: white;
    box-shadow: 0 0 50px white;
    transform: scale(1.3);
     
}



.gmail{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: all .5s ease;
    position: relative; left: 60%; top: 90%;
}

.gmail:hover{
    color: #111;
    background: white;
    box-shadow: 0 0 50px white;
    transform: scale(1.3);
     
}



.discord{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: all .5s ease;
    position: relative; left: 70%; top: 87%;
}

.discord:hover{
    color: #111;
    background: white;
    box-shadow: 0 0 50px white;
    transform: scale(1.3);
     
}



#quote{
    width: 45%;
    height:15%;
    background: rgba(59, 59, 59, 0.3);
    margin: auto;
    position: relative; top: 100%; 
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.qu{
    font-family: w3-cursive;
    font-size: 150%;
    font-style: italic;
    font-weight: 700;
    color: white;
    padding: 40px 0;
    opacity: 70%;
}




#footer{
    width: 20%;
    position: relative; left: 14%; top: 120%;
    background-color: transparent;
}

.botdes{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 100%;
    color: white;
    opacity: 60%;
    letter-spacing: 0.15em;
    padding-top: 5%;
    
}

.hand{
    opacity: 0;
    transition: all .2s ease;
}

#footer:hover .hand{
    opacity: 1;
    transform: scale(1.2);
}


.sign{
    width: 10%;
    height: 10%;
    background-color: transparent;    
    position: absolute; left: 0; bottom:10%;
    transition: all 0.6s ease;
}

.sign:hover{
    transform: scale(1.5);
     
}


#botfot{
    width: 100%;
    height: 5%;
    background-color: transparent ;
    position: relative; top: 125%;
}
